

html, body {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

button {
	background-color: white;
	color: #aaa;
	border: 0.5 solid #aaa;
	border-radius: 2;
	padding: 10;
	font-size: 20;
}

::-webkit-input-placeholder {
	font-size: 25;
	color: #aaa;
}