

html, body {
	width: 100%;
	max-width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

.main {
	width: 100%;
	margin: auto;
}

.landingPageImg {
	width: 98%;
	display: 'inline-block';
}

.landingPageText {
	padding: 5px;
}

.block {
	display: block;
	width: 100%;
}

.color1 {
	color: #6fcbc1;
}

.color2 {
	color: #d4c5a8;
}

.color3 {
	color: #7098cc;
}

.color4 {
	color: #ffa089;
}

button {
	background-color: white;
	color: #aaa;
	border: 0.5 solid #aaa;
	border-radius: 2;
	padding: 10;
	font-size: 20;
}

::-webkit-input-placeholder {
	font-size: 25;
	color: #aaa;
}

/*
	overflow: hidden;
*/

@media (min-width: 640px) {

	.main {
		width: 70%;

	}
	.landingPageImg {
		width: 40%;

	}

	.landingPageText {
		margin-top: 32%;
		width: 55%;
		font-size: 14px;
		text-align: justify;
	}
	.left {
		float: left;
	}
	.right {
		float: right;
	}
	.block {
		margin: auto;
	}
}